*.class

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
.nb-gradle

*.log
.mine*
*.json
*.hmd

/HMCL/build/
/HMCLaF/build/
/HMCLAPI/build/
/HMCLCore/build/