.hint {
    -fx-hyperlink-fill: -monet-primary;
}

.two-line-list-item {
    -fixed-warning-tag-background: #F1AEB5;
}

.log-window {
    -fixed-log-toggle-selected: #000000;
    -fixed-log-toggle-unselected: #6C757D;
    -fixed-log-text-fill: #000000;
    -fixed-log-trace: #EEE9E0;
    -fixed-log-debug: #EEE9E0;
    -fixed-log-info: #FFFFFF;
    -fixed-log-warn: #FFEECC;
    -fixed-log-error: #FFCCBB;
    -fixed-log-fatal: #F7A699;
    -fixed-log-selected: #C4C4C4;
}
