.log-window {
    -fixed-log-text-fill: #FFFFFF;
    -fixed-log-trace: #343A40;
    -fixed-log-debug: #212529;
    -fixed-log-info: #000000;
    -fixed-log-warn: #2C0B0E;
    -fixed-log-error: #58151C;
    -fixed-log-fatal: #842029;
    -fixed-log-selected: #495057;
}