.hint {
    -fx-hyperlink-fill: -monet-primary;
}

.two-line-list-item {
    -fixed-warning-tag-background: #F1AEB5;
}

.log-window {
    -fixed-log-background: #ffffff;
    -fixed-log-toggle-selected: #000000;
    -fixed-log-toggle-unselected: #6C757D;
    -fixed-log-text-fill: #1f1f1f;
    -fixed-log-trace-background: #EEE9E0;
    -fixed-log-debug-background: #EEE9E0;
    -fixed-log-info-background: #FFFFFF;
    -fixed-log-warn-background: #fef6d5;
    -fixed-log-warn-text-fill:  #3e2f00;
    -fixed-log-error-background: #fcebeb;
    -fixed-log-error-text-fill: #410e0b;
    -fixed-log-fatal-background: #F7A699;
    -fixed-log-selected: #f2f2f2;
}

.addon-channel-icon.alpha .svg {
    -fx-fill: #cb2245;
}

.addon-channel-icon.beta .svg {
    -fx-fill: #e08325;
}

.addon-channel-icon.release .svg {
    -fx-fill: #00af5c;
}