name: Java CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '11'
        java-package: 'jdk+fx'
    - name: Build with Gradle
      run: ./gradlew build
      env:
        MICROSOFT_AUTH_ID: ${{ secrets.MICROSOFT_AUTH_ID }}
        MICROSOFT_AUTH_SECRET: ${{ secrets.MICROSOFT_AUTH_SECRET }}
        CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
    - name: Get short SHA
      run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV
    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: HMCL-${{ env.SHORT_SHA }}
        path: HMCL/build/libs
