name: Mirror Repository

on:
  workflow_dispatch:
  push:

concurrency:
  group: mirror-repository
  cancel-in-progress: true

jobs:
  mirror:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Gitee
            repo: gitee.com/huanghongxun/HMCL
            user: 'hmcl-sync'
            token: 'GITEE_SYNC_TOKEN'
          - name: CNB
            repo: cnb.cool/HMCL-dev/HMCL
            user: 'cnb'
            token: 'CNB_SYNC_TOKEN'
    name: Mirror to ${{ matrix.target.name }}
    if: ${{ github.repository == 'HMCL-dev/HMCL' }}
    runs-on: ubuntu-latest
    steps:
      - name: Mirror GitHub to ${{ matrix.target.name }}
        run: |
          git clone --bare "https://github.com/${{ github.repository }}.git" -- repo
          cd repo
          git push --prune --all --force "https://${{ matrix.user }}:${{ secrets[matrix.token] }}@${{ matrix.repo }}.git"
          git push --tags --force "https://${{ matrix.user }}:${{ secrets[matrix.token] }}@${{ matrix.repo }}.git"
