name: Mirror Repository

on:
  workflow_dispatch:
  workflow_call:
  push:

jobs:
  mirror:
    strategy:
      matrix:
        target:
          - name: Gitee
            repo: gitee.com/huanghongxun/HMCL
            user: 'GITEE_SYNC_USERNAME'
            token: 'GITEE_SYNC_TOKEN'
          - name: CNB
            repo: cnb.cool/HMCL-dev/HMCL
            user: 'CNB_SYNC_USERNAME'
            token: 'CNB_SYNC_TOKEN'
    name: Mirror to ${{ matrix.target.name }}
    runs-on: ubuntu-latest
    steps:
      - name: Mirror GitHub to ${{ matrix.target.name }}
        run: |
          git clone --mirror "https://github.com/$GITHUB_REPOSITORY.git" -- repo
          cd repo
          git push -f --prune "https://${{ secrets[matrix.target.user] }}:${{ secrets[matrix.target.token] }}@${{ matrix.target.repo }}.git" "refs/heads/*:refs/heads/*" "refs/tags/*:refs/tags/*"
